[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simpy = "*"
matplotlib = "*"
dataclasses-json = "*"
patool = "*"

[dev-packages]
black = "*"
ruff = "*"

[requires]
python_version = "3.12"
